.home-welcome {
  height: 100vh;
  padding-top: 11rem;
}

@media screen and (max-width: 992px) {
  .home-welcome {
    padding-top: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .home-welcome {
    padding-top: 6rem;
  }
}
